@import "reset.css";
  

  .group:after                { display:block; height:0; clear:both; content:"."; visibility:hidden; } /* For clearing */
  body                        { background:#fff; }
  ::-moz-selection            { background:#333; color:#fff; }
  ::selection                 { background:#333; color:#fff; }

 /* 02d - Headings */
  h1                          { color:rgba(0,0,0,0.3); }
  h1 a                        { color:#333; }
  h1 a:hover                  { color:#9c6; }
  h2                          { font-size:1.875em; letter-spacing:-0.025em; line-height:1.3125em; padding-top:2em; }
  h3,
  h4                          { font-size:1.125em; padding:2em 0 0.5em 0; }
  h3 + h4                     { padding-top:0; } /* Only an h4 that follows an h3 */
  p + h3,
  li + h3                     { padding-top:1.5em; } /* Only an h3 that follows a p or an li */

  /* 02e - Links */
  a                           { color:#9c6; text-decoration:none; -webkit-transition:color 0.2s ease-in-out; -moz-transition:color 0.2s ease-in-out; -o-transition:color 0.2s ease-in-out; transition:color 0.2s ease-in-out; }
  @-moz-document url-prefix() {
    a { display:inline-block; /* For weird Firefox strikethrough-like bug */ }
  }
  h2 a                        { color:#333; }
  h3 a,
  p a,
  li a,
  figcaption a                { border-bottom:1px solid #9c6; color:#333; }
  h2 + p a,
  figcaption a,
  p.note a,
  p.small-print a             { color:rgba(0,0,0,0.3); }
  h3 a:hover,
  p a:hover,
  h2 + p a:hover,
  figcaption a:hover,
  p.note a:hover,
  p.small-print a:hover,
  li a:hover,
  figcaption a:hover          { color:#9c6; }

  /* 02f - Paragraphs, Lists, and More */
  p,
  li                          { padding:0.5em 0; }
  li                          { list-style:none; }
  article ul li               { list-style-type:disc; margin-left:1em; }
  article ol li               { list-style-type:upper-roman; margin-left:1em; }
  blockquote p                { border-left:10px solid rgba(0,0,0,0.05); font-size:1.5em; line-height:1.3125em; margin:0.5em 0; padding-left:1em; }
  blockquote + p cite         { display:block; margin-top:-1em; padding-bottom:1em; text-align:right; }
  article.single p:first-child + p { font-size:1.875em; line-height:1.5em; }
  code, 
  pre                         { background:rgba(0,0,0,0.1); font-size:0.875em; }
  pre                         { margin:0.5em 0; padding-left:1em; }
  pre code                    { background:none; }
  h2 + p                      { color:rgba(0,0,0,0.3); padding:1.5em 0; }
  p.note                      { color:rgba(0,0,0,0.3); }
  figcaption,
  p.small-print,
  div.primary h2,
  div.primary p,
  div.primary span.fusionentire { color:rgba(0,0,0,0.3); font-size:0.875em; line-height:1.5em; padding:0; }
  p.note                      { padding-bottom:1em; }
  p.continue                  { padding-top:2em; }
  p.small-print               { padding:8em 0 1em 0; }
  cite                        { font-style:normal; }
  
  /* ---------------------------------------------------------------------------------------------------------- 
  03 Forms & Buttons ------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------- */
  
  form input,
  form textarea                  { background:#fff; border:1px solid rgba(0,0,0,0.1); border-radius:4px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; color:#333; font-size:1em; margin-bottom:1em; padding:0.5em 1em; -webkit-transition:all 0.25s ease-in-out; -moz-transition:all 0.25s ease-in-out; -o-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out; -webkit-appearance:none; width:100%; }
  form textarea                  { min-height:10em; }
  form input:focus,
  form textarea:focus            { border-color:#333; outline:none; }
  form input.submit              { background:#9c6; border-color:rgba(0,0,0,0.1); color:#fff; font-weight:700; text-align:center; text-transform:uppercase; }
  form input.submit:hover        { background:#333; }

  a.btn                          { background:#9c6; border:1px solid rgba(0,0,0,0.1); border-radius:4px; margin:0 auto; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; color:#fff; display:inline-block; letter-spacing:0.125em; padding:0.5em 1em; text-align:center; text-transform:uppercase; width:100%; -webkit-transition:all 0.25s ease-in-out; -moz-transition:all 0.25s ease-in-out; -o-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out; }
  a.btn:hover                    { background:#333; color:#fff; }  
    
  /* ---------------------------------------------------------------------------------------------------------- 
  04 Basic Layout ---------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------- */
  
  div.primary                 { background:#f6f6f6; padding:10%; position: relative; /*outline:1px solid red;*/ }
  div.content                 { padding:10%; /*outline:1px solid blue;*/ }
  div.ads                     { display:none; }
  div.blog {line-height: 1.3;}
  
  /* Most layout declared in media queries, below */
    
  /* ---------------------------------------------------------------------------------------------------------- 
  05 Header ---------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------- */
  
  header nav ul               { padding:1em 0 0 0; }
  header nav ul li            { display:inline; padding:0 1em 0 0; }
  header nav ul li a          { color:#9c6; border:none; }
  header nav ul li a:hover,
  body.home header nav ul li a.home,
  body.blog header nav ul li a.blog,
  body.speaking header nav ul li a.speaking,
  body.about header nav ul li a.about { color:#333; }
  div.content img             { margin:1em 0; width:100%; }
  article figure figcaption   { padding:0 5% 2em 0; }

  /* ---------------------------------------------------------------------------------------------------------- 
  06 Ads ------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------- */

  div.fusionads a,
  div.authenticjobs p a       { border:none; color:rgba(0,0,0,0.3); }
  div.fusionads p             { padding-top:1em; }
  div.fusionads img           { margin:1em 0; }
  div.authenticjobs img       { float:left; margin:0.5em 1em 1em 0; }
  div.authenticjobs p.job-listings + p { clear:both; }
  div.primary.sticky          { }
 
  /* ---------------------------------------------------------------------------------------------------------- 
  07 Blog Posts -----------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------- */
    
  div#comments                                { padding-top:2em; }
  div#comments ol li                          { border-bottom:1px solid rgba(0,0,0,0.1); /*font-size:0.875em; line-height:2em;*/ list-style:none; margin:0; padding:2em 0; }
  div#comments ol li:last-child               { border:none; }
  div#comments ol li article header div.gravatar-container { left:0; max-width:80px; position:absolute; top:-0.5em; width:10%; }
  div#comments ol li article header div.gravatar-container img { width:100%; }
  div#comments ol li article header h3,
  div#comments ol li article header h3 + p    { padding:0 0 0 15%; }
  div#comments ol li article header h3 + p,
  div#comments ol li article header h3 + p a  { color:rgba(0,0,0,0.3); }
  div#comments ol li article li               { border:none; list-style:circle; }
  
  div.video-wrapper                           { margin-bottom:1em; }
  /* p iframe { margin-left:-40%; width:140%; } */

  /* ---------------------------------------------------------------------------------------------------------- 
  08 Blog Archive ---------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------- */
  
  body.blog div.content > ol li:first-child   { padding-top:0; }
  li.yearly-archive span.data                    { color:rgba(0,0,0,0.3); display:block; }
  li.yearly-archive h2 + p                    { padding-bottom:0.5em; }
  li.yearly-archive h2 + p a                  { color:#333; }
  li.yearly-archive h2 + p a:hover            { color:#9c6; }
  
  /* ---------------------------------------------------------------------------------------------------------- 
  11 Media Queries (using a mobile-first approach) ------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------- */
  
  /* 11a - 720 up */
  @media screen and (min-width:720px) {
  
    html                        { padding:0 8%; }
    body                        { margin:0 auto; }
    div.fauxcolumn              { bottom:0; left:0; position:fixed; top:0; width:34.755%; background:#f6f6f6; }
    
    div.primary                 { background:none; float:left; padding:8em 0; width:32%; }
    div.primary div div         { border-top:1px solid rgba(0,0,0,0.05); padding:3em 0; }
    div.content                 { float:left; padding:8em 0 8em 0; width:68%; }
    div.ads                     { display:block; }
    h1,
    div.ads p                   { width:85%; }
    div.ads span                { display:block; /* Purely for the sake of the span */ width:90%; }
    
    header nav ul               { padding:2em 0 3em 0; }
    header nav ul li            { display:block; padding:0; }
        
    div.content-inner                { padding-left:5%; }
    form input,
    form textarea               { margin-left:5%; }
    div.content blockquote p    { padding-left:1em; }
    
    article figure figcaption   { padding-left:5%; }
    
    div#comments ol li article header div.gravatar-container { left:5%; }
    div#comments ol li article header h3,
    div#comments ol li article header h3 + p { padding:0 0 0 20%; }
    
  }
  
  /* 11b - 880 up */
  @media screen and (min-width:880px) {
  
    h1,
    div.ads p                   { width:46.875%; }
    div.ads span                { width:70%; }
    
    h2#art-direction            { padding-left:15%; }

    div.content-inner { padding-left:28.787%; /* 190 / 660 = 0.28787 */ }
    form input,
    form textarea               { margin-left:28.787%; /* 190 / 660 = 0.28787 */ width:71%; }
    
    article figure figcaption   { left:0; padding:0.825em 0 0 5%; position:absolute; width:25%; }
    
    div#comments ol li article header div.gravatar-container { left:15%; }
    div#comments ol li article header h3,
    div#comments ol li article header h3 + p { padding:0 0 0 28.787%; }
    
  }
  
  /* 11c - 1350 up */
  @media screen and (min-width:1350px) {
    html                        { padding:0 16%; }
    div.fauxcolumn              { width:37.75%; }
  }

  /* 11d - 1700 up */
  @media screen and (min-width:1700px) {
    html                        { padding:0 23%; }
    div.fauxcolumn              { width:40.25%; }
  }

  /* 11e - 2000 up */
  @media screen and (min-width:2000px) {
    html                        { padding:0 30%; }
    div.fauxcolumn              { width:42.85%; }
  }