/*
Name: back from travel
Author URI: http://yuguodesign.com
Description: This is a simple theme designed by <a href="http://yuguodesign.com>Yuguo</a>.
Version: 0.1
Author: Yuguo
Author URI: http://yuguodesign.com
Tags: black
*/
/* Begin Typography 
*********************************************************************************************/
body {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background:url("images/body_bg2.jpg") no-repeat 40% -126px;
	font-size:0.8em;
	}
	
body p {
	line-height:1.6em;
}

	
h2 {
	font-weight:normal;
	font-size:1.1em;
	height:3em;
}



/*   Colors 
*********************************************************************************************/
body {
	color:#ddd;
}


#sidebar h2, #sidebar a {
	color:#111;
}

#sidebar li {
	border-top:1px solid #000;
}

#find-me h2, #find-me li{
	background:#0cf;
}

#link-list h2, #link-list li {
	background:#fd0;
}

/*  Wrapper  
*********************************************************************************************/

/*  Content  
*********************************************************************************************/
h1,h5{
	display:none;
}

/*   Intro  
*********************************************************************************************/
#intro {
	width:600px;
	margin:120px auto 0 auto;
	text-align:left;
}

/*    Sidebar   
*********************************************************************************************/
#sidebar {
	width:170px;
	position:absolute;
	left:0;
	top:100px;
	text-align:right;
}

#sidebar li a {
	text-decoration:none;
}

#sidebar ul {
	width:170px;
}

#sidebar li {
	padding-right:10px;
	line-height:1.6em;
}

#sidebar h2 {
	padding-right:10px;
	height:36px;
}

/*    Find Me   
*********************************************************************************************/



/*    Link List   
*********************************************************************************************/
#link-list {
	margin-top:5px;
}