
  <div class="primary">
    <header>
      <h1>余果，腾讯ISUX前端开发设计师。
      </h1>
      <nav>
        <ul>
        <li>
            <a href="http://yuguo.us/">首页</a>
        </li>
        <li>
            <a href="http://yuguo.us/about.html">About me</a>
        </li>
        </ul>
      </nav>
    </header>

	<div class="ads">

        <h2>Categories</h2>
      <ul class="tag-box inline">
          {% assign categories_list = site.categories %}
          {% include JB/categories_list %}
      </ul>

      <div class="fusionads">
        <h2>我的APP</h2>

        <span class="fusionentire">
          <a href="https://itunes.apple.com/cn/app/lu-da-shi-for-ying-xiong-lian/id646299086?mt=8" title="撸大师">
            <img src="/files/2013/07/appstore.png" alt="撸大师" style="width:200px;"/>
          </a>
          <span class="fusiontext">
              撸大师是一款快速查看英雄联盟攻略的iPhone APP。
          </span>
        </span>
        </div><!-- .fusionads -->
      
      <div class="fusionads">
        <h2>我的书</h2>

        <span class="fusionentire">
          <a href="http://yuguo.us/weblog/isux-and-smashing-book/" title="众妙之门3">
            <img src="http://yuguo.us/files/2013/04/sm3-cover.jpg" alt="众妙之门3"/>
          </a>
          <span class="fusiontext">
                《众妙之门3》是一本关于HTML5、CSS3、新JS API、Retina屏、Web App、基于Responsive Design的工作流……的设计书，是《Smashing Book #3 Redesign The Web》的中文译本。
          </span>
        </span>
        <p><a href="http://yuguo.us/weblog/isux-and-smashing-book/" title="众妙之门3">介绍</a> | <a href="http://product.dangdang.com/product.aspx?product_id=23212058">当当购买</a></p>
      </div><!-- .fusionads -->

      <div class="fusionads">
        <h2>我的专栏</h2>

        <span class="fusionentire">
          <a href="http://read.douban.com/column/226077/" title="谈谈全栈工程师">
            <img src="http://yuguo.us/files/2014/03/columns.jpg" alt="谈谈全栈工程师" style="margin:0; float: left; padding: 0 10px 10px 0;"/>
          </a>
          <span class="fusiontext">
                随着web服务的发展，对全栈工程师的需求渐渐增加。本专栏会从前端工程师入手，谈谈全栈工程师的历史、所需技能、未来发展方向等话题。
              <a href="http://read.douban.com/column/226077/">阅读</a>
          </span>
        </span>
        </div><!-- .fusionads -->

    </div><!-- .ads -->

  </div><!-- .primary -->