#jobWanted {
	position:fixed;
	text-align:center;
	bottom:0;
	left:0;
	height:55px;
	width:100%;
	background:url("bottom.png") repeat-x bottom;
	color:#ddd;
}

#jobWantedInside {
	text-align:left;
	height:30px;
	margin:25px auto 0 auto;
	width:100%;
	position:relative;
	overFlow:visible;
}

#jobWantedLogo {
	cursor:pointer;
	position:absolute;
	bottom:0;
	left:10px;
}

span#jobWantedContent {
	position:absolute;
	bottom:0;
	left:100px;
}

#jobWantedInside span img {
	vertical-align:middle;
}

span#jobWantedClose {
	cursor:pointer;
	position:absolute;
	bottom:0;
	right:10px;
	text-indent:-5000px;
	display:block;
	height:28px;
	width:120px;
	background:url("jobWantedClose.gif") no-repeat 0 0;
}

#jobWantedClose:hover {
	background:url("jobWantedClose.gif") no-repeat 0 -30px;
}