#nav {
	position:relative;
	height:40px;
	background:#111;
	overflow:visible;
}

#nav ul {
	padding-left:5px;
}

#nav ul li {
	float:left;
	padding:4px 0 4px 4px;
}

#nav ul li img {
	width:32px;
	height:32px;
}

a#themeShuffle {
		text-indent:-5000px;
		display:block;
		height:40px;
		width:98px;
		float:left;
		margin-left:20px;
		background:url("themeShuffle.png") no-repeat 0 0;
}

a#themeShuffle:hover {
		background:url("themeShuffle.png") no-repeat 0 -40px;
}

a#contactMe {
		text-indent:-5000px;
		display:block;
		height:40px;
		width:98px;
		float:left;
		margin-left:5px;
		background:url("contactMe.png") no-repeat 0 0;
}

a#contactMe:hover {
		background:url("contactMe.png") no-repeat 0 -40px;
}