<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="../style.css">
　　　　<title>{{ page.title }}</title>
　　</head>
　　<body>
	<div id="blog">
		<div class="container group">
  
	      <div class="primary">
	        <header>
	          <h1><a href="/">Elliot Jay Stocks</a> is a designer, speaker, and author. He is one half of Viewport Industries and the founder of typography magazine 8 Faces.</h1>
	          <nav>
	            <ul>
	              <li>
	                <a class="home" href="/">Home</a>
	              </li>
	              <li>
	                <a class="blog" href="/blog/">Blog</a>
	              </li>
	              <li>
	                <a class="speaking" href="/speaking/">Speaking</a>
	              </li>
	              <li>
	                <a class="about" href="/about/">About</a>
	              </li>
	            </ul>
	          </nav>
	        </header>
			
			<div class="ads">
        
	          <div class="fusionads">
	            <h2>Supported by Treehouse</h2>
	            
	            <span class="fusionentire">
	              <a href="http://teamtreehouse.com" title="Visit teamtreehouse.com">
	                <img src="/theme/5049e31adabe9d2d4900c2f6/stylesheets/images/ad-treehouse-dec2012.png" alt="Treehouse ad" />
	              </a>
	              <span class="fusiontext">
	                <a href="http://teamtreehouse.com" title="Visit teamtreehouse.com">
	                  Learn to build websites, create iPhone and Android apps, code with Ruby on Rails and PHP, or start a business. Start Learning Today.
	                </a>
	              </span>
	            </span>
	            <p><a href="http://teamtreehouse.com" title="Visit teamtreehouse.com">teamtreehouse.com</a></p>
	          </div><!-- .fusionads -->
	          
	          <div class="authenticjobs">
	            <h2>Authentic Jobs</h2>
	            <a href="http://uk.authenticjobs.com" title="Visit Authentic Jobs">
	              <img src="http://elliotjaystocks.com/theme/4c1681b5dabe9d506b000004/stylesheets/images/authentic_jobs.gif" alt="Authentic Jobs banner" />
	            </a>
	            <p class="job-listings"></p>
	            <p><a href="http://authenticjobs.com/" title="Visit Authentic Jobs">More on Authentic Jobs</a></p>
	          </div><!-- .authenticjobs -->
	                    
	        </div><!-- .ads -->
	                  
	      </div><!-- .primary -->
	              
	      <div class="content">
	      	{{ content }}
	      </div>
			
		</div>
		
		<p class="small-print">&copy; 2005&#8201;&ndash;&#8201;2012 Elliot Jay Stocks. All rights reserved. Powered by <a href="http://get.harmonyapp.com/">Harmony</a> and tracked by <a href="http://get.gaug.es/">Gaug.es</a>. To keep updated with new content, you might like to <a href="http://feeds.feedburner.com/elliotjaystocks/">subscribe to my RSS feed</a>.</p>

　　　　

　　</body>
　　</html>